<h1>Welcome to change maker.</h>
  <form action="/change">
    <div class="form-group">
      <label for="coins">Enter value</label>
      <input id="coins" name="coins" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
